/* ו */
a:hover{
background:#0099ff;
color:black;
}
body {
    font-family: "Microsoft YaHei UI","Microsoft YaHei",SimSun,"Segoe UI",Tahoma,Helvetica,Sans-Serif,"Microsoft YaHei", Georgia,Helvetica,Arial,sans-serif,ו, PMingLiU,serif;
    font-size: 10.5pt;
    line-height: 1.5;
}


